<header id="slider-area">  
  <%= render partial: 'partials/navbar' %>

  <!-- Main Carousel Section -->
  <%= render partial: 'partials/carousel' %>

</header>
<!-- Header Section End --> 

<!-- Services Section Start -->
<%= render partial: 'partials/services' %>
<!-- Services Section End -->

<!-- Call to Action 1 Start -->
<%= render partial: 'partials/cta1' %>
<!-- Call to Action End -->

<!-- Features Section Start -->
<%= render partial: 'partials/features' %>
<!-- Features Section End -->    

<!-- Start Video promo Section -->
<%= render partial: 'partials/video_promo' %>
<!-- End Video Promo Section -->

<!-- Portfolio Section -->
<%= render partial: 'partials/portfolio' %>
<!-- Portfolio Section Ends --> 

<!-- Start Pricing Table Section -->
<%= render partial: 'partials/pricing' %>
<!-- End Pricing Table Section -->

<!-- Counter Section Start -->
<%= render partial: 'partials/counter' %>
<!-- Counter Section End -->

<!-- Testimonial Section Start -->
<%= render partial: 'partials/testimonials' %>
<!-- Testimonial Section End --> 

<!-- Call To Action Section Start -->
<%= render partial: 'partials/cta2' %>
<!-- Call To Action Section Start -->

<!-- Team section Start -->
<%= render partial: 'partials/team' %>
<!-- Team section End -->

<!-- Subcribe Section Start -->
<%= render partial: 'partials/subscribe' %>
<!-- Subcribe Section End -->

<!-- Blog Section -->
<%= render partial: 'partials/blog' %>
<!-- blog Section End -->

<!-- Clients Section -->
<%= render partial: 'partials/clients' %>
<!-- Client Section End --> 

<!-- Contact Section Start -->
<%= render partial: 'partials/contact' %>
<!-- Contact Section End -->

<!-- Footer Section Start -->
<%= render partial: 'partials/footer' %>
<!-- Footer Section End --> 

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="lni-arrow-up"></i>
</a>

<!-- <div id="loader">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>     -->

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<!-- <script src="js/jquery-min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/color-switcher.js"></script>
<script src="js/jquery.mixitup.js"></script>
<script src="js/nivo-lightbox.js"></script>
<script src="js/owl.carousel.js"></script>    
<script src="js/jquery.stellar.min.js"></script>    
<script src="js/jquery.nav.js"></script>    
<script src="js/scrolling-nav.js"></script>    
<script src="js/jquery.easing.min.js"></script>     
<script src="js/wow.js"></script> 
<script src="js/jquery.vide.js"></script>
<script src="js/jquery.counterup.min.js"></script>    
<script src="js/jquery.magnific-popup.min.js"></script>    
<script src="js/waypoints.min.js"></script>    
<script src="js/form-validator.min.js"></script>
<script src="js/contact-form-script.js"></script>   
<script src="js/main.js"></script> -->